In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/riiid-test-answer-prediction/lectures.csv
/kaggle/input/riiid-test-answer-prediction/example_test.csv
/kaggle/input/riiid-test-answer-prediction/example_sample_submission.csv
/kaggle/input/riiid-test-answer-prediction/train.csv
/kaggle/input/riiid-test-answer-prediction/questions.csv
/kaggle/input/riiid-test-answer-prediction/riiideducation/__init__.py
/kaggle/input/riiid-test-answer-prediction/riiideducation/competition.cpython-37m-x86_64-linux-gnu.so

In [2]:
import riiideducation
env = riiideducation.make_env()

In [3]:
iter_test = env.iter_test()

In [4]:
from collections import Counter
import pandas as pd

In [5]:
test_user_id_list = []
test_df_list = []

In [6]:
# (test_df, sample_prediction_df) = next(iter_test)

In [7]:
for index, (test_df, sample_prediction_df) in enumerate(iter_test):
    test_df_list += [test_df]
    test_user_id_list += list(test_df['user_id'])
    test_df['answered_correctly'] = 0.5
    env.predict(test_df.loc[test_df['content_type_id'] == 0, ['row_id', 'answered_correctly']])
    print('index : ', index, 'test_df len : ', len(test_df))

index :  0 test_df len :  18
index :  1 test_df len :  27
index :  2 test_df len :  26
index :  3 test_df len :  33

In [8]:
# test_df['user_id']

In [9]:
Counter(test_user_id_list)

Counter({275030867: 4,
         554169193: 3,
         1720860329: 2,
         288641214: 4,
         1728340777: 2,
         1364159702: 2,
         1521618396: 2,
         1317245193: 4,
         1700555100: 1,
         998511398: 3,
         1422853669: 3,
         1096784725: 4,
         385471210: 2,
         1202386221: 4,
         2018567473: 3,
         1233875513: 3,
         891955351: 2,
         1981166446: 3,
         1637273633: 2,
         2030979309: 3,
         319060572: 4,
         98059812: 2,
         674533997: 3,
         555691277: 3,
         775113212: 4,
         1219481379: 1,
         1148874033: 1,
         1281335472: 1,
         2002570769: 1,
         706626847: 1,
         1357500007: 4,
         1599808246: 1,
         1305988022: 1,
         1310228392: 5,
         2093197291: 1,
         1468996389: 3,
         1838324752: 1,
         2103436554: 3,
         311890082: 3,
         1817433235: 1,
         1900527744: 3,
         7792299: 1})

In [10]:
len(test_user_id_list)

104

In [16]:
test_df_all

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses,answered_correctly
group_num,,,,,,,,,,,
0,0,0,275030867,5729,0,0,NaN,<NA>,[],[],0.5
0,1,13309898705,554169193,12010,0,4427,19000.0,True,NaN,NaN,0.5
0,2,4213672059,1720860329,457,0,240,17000.0,True,NaN,NaN,0.5
0,3,62798072960,288641214,13262,0,266,23000.0,True,NaN,NaN,0.5
0,4,10585422061,1728340777,6119,0,162,72400.0,True,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...
3,104,13167339284,1900527744,3004,0,1179,24667.0,True,NaN,NaN,0.5
3,105,13167339284,1900527744,3003,0,1179,24667.0,True,NaN,NaN,0.5
3,106,64497673060,7792299,7908,0,676,19000.0,True,NaN,NaN,0.5
3,107,62798166743,288641214,9077,0,269,25000.0,True,NaN,NaN,0.5
3,108,2059176357,2018567473,12119,0,591,20000.0,True,NaN,NaN,0.5

In [15]:
test_df_all = pd.concat(test_df_list,axis=0)
test_df_all.head(10)

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses,answered_correctly
group_num,,,,,,,,,,,
0,0,0,275030867,5729,0,0,NaN,<NA>,[],[],0.5
0,1,13309898705,554169193,12010,0,4427,19000.0,True,NaN,NaN,0.5
0,2,4213672059,1720860329,457,0,240,17000.0,True,NaN,NaN,0.5
0,3,62798072960,288641214,13262,0,266,23000.0,True,NaN,NaN,0.5
0,4,10585422061,1728340777,6119,0,162,72400.0,True,NaN,NaN,0.5
0,5,18020362258,1364159702,12023,0,4424,18000.0,True,NaN,NaN,0.5
0,6,2325432079,1521618396,574,0,1367,18000.0,True,NaN,NaN,0.5
0,7,39456940781,1317245193,12043,0,5314,17000.0,True,NaN,NaN,0.5
0,8,3460555189,1700555100,7910,0,532,21000.0,True,NaN,NaN,0.5
0,9,2214770464,998511398,7908,0,393,21000.0,True,NaN,NaN,0.5

In [12]:
test_df_all[test_df_all['user_id']==288641214]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses,answered_correctly
group_num,,,,,,,,,,,
0,3,62798072960,288641214,13262,0,266,23000.0,True,NaN,NaN,0.5
1,34,62798100988,288641214,5418,0,267,24000.0,True,NaN,NaN,0.5
2,69,62798135614,288641214,5620,0,268,15000.0,True,NaN,NaN,0.5
3,107,62798166743,288641214,9077,0,269,25000.0,True,NaN,NaN,0.5

In [13]:
test_df_all[test_df_all['user_id']==674533997]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses,answered_correctly
group_num,,,,,,,,,,,
1,37,1254086842,674533997,5301,0,1044,29000.0,True,NaN,NaN,0.5
2,62,1254110584,674533997,8878,0,1045,21000.0,True,NaN,NaN,0.5
3,82,1254131274,674533997,6000,0,1046,10000.0,True,NaN,NaN,0.5

In [14]:
test_df_all[test_df_all['user_id']==1310228392]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses,answered_correctly
group_num,,,,,,,,,,,
3,76,48613916248,1310228392,11869,0,1458,26333.0,True,NaN,NaN,0.5
3,77,48613916248,1310228392,11871,0,1458,26333.0,True,NaN,NaN,0.5
3,78,48613916248,1310228392,11870,0,1458,26333.0,True,NaN,NaN,0.5
3,79,48613916248,1310228392,11872,0,1458,26333.0,True,NaN,NaN,0.5
3,80,48613916248,1310228392,11868,0,1458,26333.0,True,NaN,NaN,0.5

In [ ]:
# train.groupby(['user_id'])['timestamp'].rank()

# 用户数据基本建模

In [17]:
dir_path = '/kaggle/input/riiid-test-answer-prediction/'
file_train = 'train.csv'
file_questions = 'questions.csv'

In [18]:
nrows =  100 * 10000
# nrows = None

In [19]:
train = pd.read_csv(
                    dir_path + file_train, 
                    nrows=nrows, 
                    usecols=['row_id', 'timestamp', 'user_id', 'content_id', 
                             'content_type_id', 'task_container_id', 'answered_correctly',
                            'prior_question_elapsed_time','prior_question_had_explanation'],
                    dtype={
                            'row_id': 'int64',
                            'timestamp': 'int64',
                            'user_id': 'int32',
                            'content_id': 'int16',
                            'content_type_id': 'int8',
                            'task_container_id': 'int8',
                            'answered_correctly': 'int8',
                            'prior_question_elapsed_time': 'float32',
                            'prior_question_had_explanation': 'str'
                        }
                   )

In [20]:
train[train['user_id']==115]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,1,NaN,NaN
1,1,56943,115,5716,0,2,1,37000.0,False
2,2,118363,115,128,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,1,19000.0,False
4,4,137965,115,7922,0,4,1,11000.0,False
5,5,157063,115,156,0,5,1,5000.0,False
6,6,176092,115,51,0,6,1,17000.0,False
7,7,194190,115,50,0,7,1,17000.0,False
8,8,212463,115,7896,0,8,1,16000.0,False
9,9,230983,115,7863,0,9,1,16000.0,False
10,10,255381,115,152,0,10,0,17000.0,False
11,11,280033,115,104,0,11,0,22000.0,False
12,12,302994,115,108,0,12,0,23000.0,False
13,13,328686,115,7900,0,13,1,21000.0,False
14,14,352686,115,7901,0,14,1,24000.0,False
15,15,376162,115,7971,0,15,1,22000.0,False
16,16,398020,115,25,0,16,1,21000.0,False
17,17,418008,115,183,0,17,0,20000.0,False
18,18,437272,115,7926,0,18,1,18000.0,False
19,19,468511,115,7927,0,19,1,17000.0,False
20,20,490100,115,4,0,20,0,29000.0,False
21,21,510583,115,7984,0,21,0,20000.0,False
22,22,534187,115,45,0,22,0,19000.0,False
23,23,557677,115,185,0,23,0,21000.0,False
24,24,575289,115,55,0,24,1,22000.0,False
25,25,597863,115,7876,0,25,1,16000.0,False
26,26,621464,115,6,0,26,1,20000.0,False
27,27,645415,115,172,0,27,1,22000.0,False
28,28,670520,115,7898,0,28,1,22000.0,False
29,29,692971,115,175,0,29,0,23000.0,False
30,30,710402,115,100,0,30,1,20000.0,False
31,31,732421,115,7859,0,31,0,15000.0,False
32,32,1219624,115,57,0,32,1,20000.0,False
33,33,1252621,115,7948,0,33,1,20000.0,True
34,34,1284094,115,151,0,34,1,22000.0,True
35,35,1320874,115,167,0,35,1,19000.0,True
36,36,1359412,115,7897,0,36,0,17000.0,True
37,37,1415188,115,7882,0,37,1,20000.0,True
38,38,1468285,115,7962,0,38,1,17000.0,True
39,39,667861680,115,1278,0,39,1,21000.0,False
40,40,667971812,115,2065,0,40,1,17000.0,False
41,41,667971812,115,2064,0,40,1,17000.0,False
42,42,667971812,115,2063,0,40,0,17000.0,False
43,43,668090043,115,3363,0,41,0,14333.0,False
44,44,668090043,115,3365,0,41,0,14333.0,False
45,45,668090043,115,3364,0,41,1,14333.0,False